.bar {
	fill: #6666FF;
}
.bar:hover {
	fill: #87CEFA;
}
.axis path, .axis line {
	fill: none;
	stroke: #fff;
}
.axis text {
	fill: #6666FF;
	font-size: 15px;
}
svg text.label {
	fill:#6666FF;
	font:20px;  
	font-weight: 400;
	text-anchor: middle;
}
#chartID {
	min-width: 531px;
}
