.svg-container {
	background-color: #00CC66;
}
.bar1 {
	fill: #004C99;
}
.bar1:hover {
	fill: #B0E0E6;
}
.bar2 {
	fill: #FFCC99;
}
.bar2:hover{
	fill:#FFFF99;
}
.axis path, .axis line {
	stroke: #000000;
}
.yaxis1 path, .yaxis1 line {
	stroke: #004C99;
}
.yaxis1 text {
	fill: #004C99;
	font-family: "Courier New", Courier, monospace;
	font-size: 1.3em;
}
.yaxis2 text {
	fill: #FFCC99;
	font-family: "Courier New", Courier, monospace;
	font-size: 1.3em;
}
.yaxis2 path, .yaxis2 line {
	stroke: #FFCC99;
}
.axis text {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.3em;
}
#chartID {
	min-width: 531px;
}
h1 { 
	font-family: "Courier New", Courier, monospace;
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
}  
p { 
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
	font-weight: 400;
} 
